.container {
  background-color: rgba(30, 30, 30, 0.269);
  position: fixed !important;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: -webkit-center;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.content {
  background-color: white;
  min-width: 40%;
  min-height: 10rem;
  border-radius: 0.5rem;
}
.header {
  text-align: end;
}
.header svg {
  padding-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: -1rem;
  cursor: pointer;
}
@media (max-width: 601px) {
  .content {
    width: 93%;
    min-height: 10rem;
  }
}
